/* 로그인 */
.mu_member input[type=text],
.mu_member input[type=password],
.mu_member input[type=tel],
.mu_member input[type=email],
.mu_member input[type=file],
.mu_member select, 
.mu_member .nice-select {
    height: 2.5rem;
    line-height: 2.5rem;
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;  
    font-size: var(--fz14);
    color: #000;
    padding: 0;
    width: 100%;
}
.mu_member input::placeholder {
    color: #999;
    font-size: var(--fz14);
}
.mu_member input[type=text]:focus,
.mu_member input[type=password]:focus,
.mu_member input[type=tel]:focus,
.mu_member input[type=email]:focus {
    border-bottom: 1px solid #000;
}
.mu_member {
    padding: 10rem 1rem 15rem;
    margin: 0 auto;
}
.mu_member .page_title {
    margin-bottom: 5rem;
}
.mu_member .page_title h2 {
    letter-spacing: -0.288rem;
}
.mu_member .page_title .subtit {
    margin-top: 2.1rem;
    color: rgba(0, 0, 0, 0.6);
}
.loginbox .menuBox a + a {
    margin-left: 1.9rem;
    padding-left: 1.9rem;
}
.loginbox .menuBox a + a::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2rem;
    width: 1px;
    background-color: rgba(0,0,0,0.3);
    content: '';
}
.loginbox .id_input_wrap {
    margin-top: 4rem;
}
.loginbox .id_input_wrap div + div {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.loginbox .id_input_wrap p {
    margin-bottom: 1rem;
}
.loginbox .tit {
    letter-spacing: -.18rem;
}
.loginbox .btn_login {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.snsBox {
    gap: 2rem;
    margin-top: 2rem;
}
.snsBox a {
    display: block;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
}
.snsBox .btn_naver img {
    visibility: hidden;
    width: 0;
    height: 0;
}
.snsBox .btn_naver a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(/img/front/member/naverlog.webp) no-repeat center;
    background-size: contain;
}
.snsBox .bar {
    display: block;
    height: 1.2rem;
    width: 1px;
    background-color: #000;
    opacity: 0.3;
}
.joinbox .info p {
    margin-top: 1.2rem;
    line-height: 1.39;
    margin-bottom: 1.5rem;
}
.joinbox .btn_line {
    margin: 2rem 0 1rem;
}
.joinbox .benefit {
    margin-top: 2rem;
    text-align: center;
}
.joinbox {
    margin-top: 6rem;
}

/* 찾기 */
.findpw_wrap {
    max-width: 450px;
    margin: 0 auto;
    padding: 10rem 1rem 15rem;
}
.findpw_wrap .id_tit p {
    letter-spacing: -1.8px;  
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.findpw_wrap .id_tit p.on {
    color: #000;
}
.findpw_wrap .id_tit > span {
    display: block;
    height: 1.2rem;
    width: 1px;
    margin: 0 30px;
    background-color: rgba(0,0,0,0.3);
}
.findpw_wrap #id_serch .findbx {
    display: none;
}
.findpw_wrap #id_serch .findbx.on {
    display: block;
}
#id_serch {
    margin-top: 5rem;
}
#id_serch .input_wrap p {
    margin-bottom: 1rem;
}
#id_serch .input_wrap + .input_wrap {
    margin-top: 2rem;
}
.findpw_wrap .btn_submit {
    margin-top: 4rem;
}
.findpw_wrap .notice {
    padding: .9rem 1.1rem;
    background-color: #f8f8f8;
    border-radius: .5rem;
    margin-bottom: 5.6rem;
}
.findpw_wrap .notice p {
    line-height: 1.3;
    font-size: 13px;
}
.findpw_wrap .notice img {
    margin-right: 1rem;
    width: 40px;
}
.findpw_wrap .certify_icon {
    margin-top: 0.8rem;
    border-bottom: 1px solid #d1d1d1;
}
.findpw_wrap .certify_icon li + li {
    margin-left: 8rem;
}
.findpw_wrap .number_bx {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* 찾기 결과 팝업 */
#id_serch .term .inner{
    width: 90%;
    height: auto;
    padding-bottom: 7rem;
} 
#id_serch .term .inner.pw_popup{
    padding: 2.9rem 11.4rem 3.6rem;
} 
#id_serch .term .idinfo {
    border-radius: .5rem;
    background-color: #f8f8f8;
    margin-top: 1.5rem;
    padding: 3.5rem 0;    
    line-height: 1.33;
    color: rgba(0, 0, 0, 0.9);
}
#id_serch .term img {
    width: 18px;
    margin-bottom: 1.5rem;
}
#id_serch .term .inner > h2 {
    margin-bottom: 6rem;
}
.mu_member .pw_popup input[type=password]::placeholder {
    font-size: 12px;
}


/* 회원가입 */
.mu_member.join_wrap {
    max-width: 97rem;
}
.bread {
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background-color: #f8f9fb;
    padding: 2rem 2rem;
}
.bread ul + ul {
    margin-top: 1rem;
}
.bread ul li {
    font-size: var(--fz13);
    font-weight: 500;    
    color: rgba(0, 0, 0, 0.4);
}
.bread ul .arr {
    opacity: 0.3;
    padding: 0 1rem;
    margin-top: -2px;
}   
.bread ul .arr img {
    width: 4px;
}
.bread ul .arr.on {
    opacity: 1;
}   
.bread ul li.on {
    color: rgba(0, 0, 0, 1);
}
.join_wrap .signup_wrap .subtit {
    margin-top: .6rem;  
    line-height: 1.57;
}
.join_wrap .snsBox {
    padding: 2rem 1.5rem;
    background-color: #f8f9fb;
    gap: .7rem;
}
.kakaplus {
    margin-top: 5.8rem;
}
.kakaplus .imgbx {
    margin-top: 1.8rem;
}
.kakaplus ul {
    gap: 2.4rem;
}
.kakaplus ul li {
    font-size: var(--fz14);
    font-weight: 600;
    margin-top: .8rem;
    text-align: center;
    flex-grow: 1;
}
.kakaplus ul li:first-child {
    flex-grow: 0.8;
}
.kakaplus ul li:last-child {
    flex-grow: 1.12;
}


/* 동의 */
.line_input .input_chk_label {
    position: relative;
    padding-left: 27px;
}
.line_input .input_chk_label:before{
    position: absolute;
    left: 0;
    top: 0;
}
.mu_member.join_wrap .page_title {
    margin-bottom: 0;
}
.signup_term .agree_list{
    position: relative;
    border-bottom: 1px solid var(--border);
    padding: 1.8rem 0 1.7rem 1.3rem;
}
.signup_term .agree_list .all_view{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    cursor: pointer;
}    
.signup_term .agree_list.all_agree{
    border-bottom: 0;
    padding: 2.4rem 1.3rem 2.4rem;
    border-radius: .5rem;
    background-color: #f8f9fb;
}
.signup_term .agree_list label {
    font-size: var(--fz13);
    font-weight: 500;    
    color: rgba(0, 0, 0, 0.7);
    display: block;
}
.signup_term .agree_list label b {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    margin: -.2rem .2rem 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.signup_term .agree_list.all_agree label {
    font-size: var(--fz14);
    font-weight: 500;    
    color: #000;
    display: block;
}
.signup_term .agree_list label span {
    margin-right: 1rem;
    display: inline-block;
}
.signup_term_title {
    margin-bottom: 1.4rem;
}
.signup_term .desc {
    padding-left: 27px;
    margin-top: .8rem;
    line-height: 1.57;
    font-size: var(--fz13);
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: .6rem;
}
.agree_depth2 > div {
    padding-left: 2.8rem;
    margin-top: 1rem;
}
.agree_depth2 > div + div {
    margin-top: 1.2rem;
}
.signup_wrap .btn_bx {
    margin-top: 4rem;
    gap: .6rem;
}


/* 팝업 */
.mu_member .term.tempt {
    position: relative;
    top: initial;
    left: initial;
}
.mu_member .term {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mu_member .term .btn_x {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.mu_member .term .inner {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 30px 15px;
}
.mu_member .term .inner > h2 {
    margin-bottom: 2.2rem;
    font-size: 16px;
}
.mu_member .scrollbx {
    padding: 1rem 1.5rem 5rem;
    border-radius: .5rem;
    background-color: #f8f8f8;
    height: 80%;
}
.mu_member .serviece_use_agree {
    position: relative !important;
    right: initial !important;
    top : inherit !important;
}
.mu_member .serviece_use_agree .wr_select {
    margin-right: 0 !important;
}

/* 약관 팝업 */
#term1 {
    overflow: auto;
    height: 100%;
    padding-right: 1rem;
}
#term1 * {
    font-size: var(--fz13);  
    color: rgba(0, 0, 0, 0.7);  
    line-height: 1.39;
}
.mb24 {
    margin-bottom: 2.4rem;
}
.agree_list .term.table_term .inner {
    /* padding: 2.9rem 20rem 3.6rem; */
}
.table_term .scrollbx {    
    overflow-y: scroll;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
}
.agree_list .term table {
    white-space: normal;
    border:0;
}
.agree_list table tbody tr,
.agree_list table tbody td {
    border: 0;
    line-height: 1.6;
    font-size: var(--fz13);
}
.agree_list table tbody td {
    color: rgba(0, 0, 0, 0.7);
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--border);
    text-align: center;
}
.agree_list table thead td {    
    padding: 1rem 2rem;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
.agree_list table tbody td + td {
    border-left: 1px solid var(--border);
}
.agree_list #term4 table {
    border-top: 1px solid var(--border);
}
.agree_list #term4 table tbody td {    
    padding: 1.2rem;
    text-align: left;
}
.agree_list #term4 table tbody td:first-child {
    width: 4rem;
    font-weight: 500;
    padding: 2.2rem .5rem;
    background-color: #f8f8f8;
    color: #000;
    text-align: center;
    font-size: 13px;
}
.signup_term  #term1 {
    padding: 0 !important; 
}
.agree_list table tbody td {
    padding: 1rem 1rem !important;
}
/* 회원가입입력 */
.join_input {
    margin-top: 2rem;
}
.join_input .div_tr + .div_tr {
    margin-top: 2rem;
}
.join_input .div_tr input[text] {
    color: #000;
}
.join_input .div_tr .tit {
    font-size: var(--fz14);
    font-weight: 500;
    margin-bottom: 1rem;
}
.join_input .txt_emphasis {
    padding-top: .5rem;
    line-height: 1.5;
    font-size: 12px;
}
.join_input .yaer_select {
    gap: 2rem;
}
.join_input .mail_select {
    gap: .5rem;
    font-size: 12px;
}
.join_input .div_td {
    position: relative;
}
#email_select {
    background: url('/img/front/member/select_arr.webp') no-repeat right 1.5rem center;
}
.join_input .div_tr .post a {
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: .5rem;
}
.join_input .chk_txt {
    /* position: absolute;
    right: 0;
    top: 1rem; */
    font-size: 12px;
    margin:9px 0 0;
    color: #ff0030;
    display: block;
}
.choice .div_tr {
    margin-top: 3rem;
    border-radius: .5rem;
}
.choice .div_tr:first-child {    
    margin-top: 4rem;
}
.choice .div_td {
    background-color: #fafafa;
    padding: 2rem 1.5rem;
}
.choice .div_td li {
    display: block;
}
.choice .div_td li + li {
    margin-top: 1.8rem;
}
.choice .div_tr > .tit {
    font-size: var(--fz14);
    font-weight: 500;
    margin-bottom: 1.3rem;
}
.repeople .div_td .last {
    margin-bottom: 1rem;
}
.repeople .txt_default {
    margin-top: 2.5rem;
    display: block; 
    line-height: 1.29;
    width: 86%;
}
.repeople .chk_txt {
    font-size: var(--fz12);
    color: #ff0030;
}


/* 가입완료 */
.maincont {
    border-radius: .5rem;
    background-color: #fafafa;
    padding: 3rem 2.5rem 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.maincont .btn_bx {
    gap: .6rem;
    margin-top: 3rem;
}
.maincont .btn_bx > a {
    height: 4rem;
    font-weight: 600;
    line-height: 3.8rem;
    font-size: var(--fz14);
}
.maincont .desc {
    line-height: 1.42;
    margin: 2.5rem 0;
}
.join_ok .contents {
    /* padding: 0 19.5rem; */
}
.btn_submit.btn_guide {
    padding: 0 1.5rem;
    height: 5.5rem;
    border-radius: 2.6rem;
    width: 100%;
    line-height: 5.3rem;
}
.btn_submit.btn_guide img {
    margin-left: .5rem;
    width: 5px;
}

/* 가입혜택 */
.join_benefit {
    background-color: var(--main_color);
    padding: 1rem 1.5rem .5rem;
    border-radius: .5rem;
}
.join_benefit img {
    margin-right: 1.1rem;
}
.join_benefit ul {
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr !important;
}
.join_benefit li {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid rgba(215, 215, 215, 0.2);
    margin-bottom: .7rem;
    padding: .3rem 0;
}

/* 서포터즈 신청하기 */
#write_mode {
    margin-top: 5rem;
}
#write_mode .sns_input_bx .li_tit {
    display: block;
    margin: 1rem 0;
}
#write_mode .titleText {  
    font-size: 5.2rem;
    text-align: center;
    margin-bottom: 5rem;
}
#write_mode .bread {
    padding: 4.6rem 13.2rem;
}
#write_mode .bread > ul {
    gap: 3.4rem;
}
#write_mode .txt_emphasis_12 {
    font-size: var(--fz24);  
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.3;
}
#write_mode .answerBox {
    margin-top: 1rem;
}
#write_mode .answerBox .input_radio  {
    margin-bottom: 1rem;
}
#write_mode .sns_input_bx {
    margin-top: 3rem;
}
#write_mode .sns_input_bx .li_tit {
    display: block;
    margin: 1rem 0 .5rem;
}
#write_mode .step02 .sns_input_bx .li_tit.agree,
#write_mode .step03 .sns_input_bx .li_tit {
    margin: 1rem 0 .5rem;
}
#write_mode .sns_input_bx .sns_input {
    margin-top: 2rem;
}
#write_mode .sns_input_bx .sns_input li > span {
    font-size: var(--fz24);
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}
#write_mode .sns_input_bx .sns_input li > div {
    padding: 2rem 1rem 1.7rem;  
    background-color: #fafafa;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-start;
}
#write_mode .sns_input_bx .sns_input li > div input {
    flex: 1;    
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: .5rem;
    margin-left: 1.3rem;
    background-color: transparent;
}
#write_mode .btn_submit {
    width: 26.9rem;
    margin-top: 2rem;
}
#write_mode .require_box .title {
    font-weight: 600;
    font-size: var(--fz28);
    color: var(--main_color);
}
#write_mode .require_box .title .number {
    color: #000;
}
#write_mode .require_box .survey ,
#write_mode .require_box .agree {
    background-color: #f8f9fb;
    padding: 2rem 1rem;
    margin-bottom: .4rem;
}
#write_mode .require_box .agree {
    margin-bottom: 2rem;
}
#write_mode .require_box .survey textarea {
    width: 100%;
    height: 3rem;
    margin-top: 0;
    resize: none;
    border-bottom: 1px solid var(--border);
    background-color: #f8f9fb;
}
#write_mode .require_box .exBox P,
#write_mode .require_box .exBox {
    font-size: var(--fz26);
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1.3rem;
    line-height: 1.3;
}
#write_mode .require_box .agree .agree_cont {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.3;
    padding: 2rem;
    margin: 1.3rem 0 2rem;
}
#write_mode .require_box .agree .agreechk p + p {
    color: rgba(0, 0, 0, 0.7);
    margin-top: .9rem;
}
#write_mode .agreechk .input_chk {
    margin-top: 3.3rem;
}
#write_mode .confirm_chk label:before {
    display: none;
}
#write_mode .confirm_chk label:after {
    content: "";
    width: 2.1rem;
    height: 2.1rem;
    border-radius: .3rem;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: -.4rem;
    margin-left: .9rem;
}
#write_mode .btn_bx {
    gap: 1.2rem;
}
#write_mode .step {
}
#write_mode .bread > ul {
    counter-reset: count;
}
#write_mode .joinstep {
    position: relative;   
} 
#write_mode .joinstep::after {
    counter-increment: count;
    content: counter(count);
}
#write_mode .step:first-child .step_count::after {
    content: '1';
} 
#write_mode .step:nth-child(2) .step_count::after {
    content: '2';
} 
#write_mode .step:nth-child(3) .step_count::after {
    content: '3';
} 
#write_mode .step:nth-of-type(1) {
    display: block;
}
#write_mode .step03 dl {
    margin-bottom: 5rem;
}
#write_mode .step03 dl.address_box {
    margin-top: 2rem;
}
#write_mode .step03 dt {
    /* font-size: var(--fz24);
    font-weight: 500; */
} 
#write_mode .step03 dd {
    padding: 2rem 1rem;
    border-radius: .5rem;
    background-color: #f8f9fb;
    margin-top: 1.3rem;
} 
#write_mode .step03 li > label {
    display: block;
    margin-bottom: .5rem;
    font-size: var(--fz24);
    font-weight: 500;
}
#write_mode .step03 dd input[type="text"] {
    font-weight: 500;
    color: #999;
}
#write_mode .btn_post {
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 1.25rem;
    background-color: #464646;
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #fff;
    font-size: var(--fz24);
}
#write_mode .step03 .address_box li {
    margin-bottom: 2rem;
}
#write_mode .step03 .phone {
    gap: 1.2rem;
}
#write_mode .point_radio > div {
    gap: 3rem;    
}
#write_mode .point_radio > span {
    display: block;
    margin-top: 1.5rem;  
    color: rgba(0, 0, 0, 0.7);
}
#write_mode .delivery .desc {
    border-radius: .5rem;
    background-color: #fff;
    margin-top: 2rem;
    padding: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.3;
}
#write_mode .btn_submit {
    font-size: var(--fz24);
    margin: 0 auto;
}