
.mission_aplication .mission_top {
    margin-top: 3rem;
}
.mission_aplication .mission_top h2 {
    font-size: clamp(1.8rem, 1.67vw, 2.4rem);
}
.mission_aplication .mission_top ul {
    margin-top: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
    padding: 0 1rem;
}
.mission_aplication .mission_top ul li {
    padding: 1.2rem 0;
}
.mission_aplication .mission_top ul li + li {
    border-top: 1px solid #e5e5e5;
}
.mission_aplication .mission_top ul li p {
    font-size: clamp(1.3rem, 2.22vw, 1.6rem);
}
.mission_aplication .mission_top .star_ic {
    margin-right: 0.5rem;
}
.mission_aplication .popup_contents h3 {
    margin: 3rem 0 1.5rem;
}

.mission_aplication .application_list {
    border: 1px solid #e5e5e5;
    padding: 1rem;
}
.application_list .notice p {
    line-height: 1.3;
}

.mission_aplication .application_list ul {
    margin-top: 2rem;
    gap: 1rem;
}
.mission_aplication .application_list ul li {
    background-color: #f4f4f4;
    padding: 1.2rem;
    border-radius: 0.5rem;
    gap: 1rem;
}
.mission_aplication .application_list .img_wrap {
    width: 3.4rem;
    height: 3.4rem;
    background-color: #fff;
    border-radius: 5rem;
}
.mission_aplication .application_list .position_img {
    display: flex;
    align-items: center;
    justify-content: center;
}