/* CSS Document */
body{ background:url(../image/common/bg_gnbtop.gif) repeat-x;}
.wrap{width:990px; margin:auto;}

/*
.header{width:920px; height:106px; overflow:visible; position:relative; margin:auto; z-index:100;}
.header h1{float:left; margin-top:28px; width:112px;}
.header .nav_top{float:right;margin-top:3px;}
.header .nav_top img{margin-top:-1px;}
.header .nav_top .searchbox{width:100px; height:16px; background:#fdf5e6;  display:inline-block;margin-top:-1px; position:relative;}
.header .nav_top .searchbox input{height:14px; background:none;border:none;}
.header .nav_top .searchbox .searchbtn{ position:absolute; right:1px; top:1px;}
.header .gnb_area{ width:990px; height:335px; position:absolute; top:106px; left:-35px;z-index:180; border:1px solid #c8c8c8; border-top:none; z-index:100; background:url(../image/common/gnb_bg.gif) no-repeat 30px 80px #fff; display:none;}
.header .gnb{width:820px;height:60px; overflow:hidden; position:absolute; right:0; top:30px; z-index:200; }
.header .gnb ul {float:right;}
.header .gnb ul li{float:left; width:186px; padding-right:14px; text-align:right;}
.header .gnb ul li ul {margin-top:30px; height:290px; background:url(../image/common/gnb_hdot.gif) repeat-y right; padding-right:16px; margin-right:-16px;}
.header .gnb ul li ul li{padding-right:0; line-height:25px;}
.header .gnb ul li ul li a:hover{color:#F90;}
*/

.header{width:920px; height:106px; overflow:visible; position:relative; margin:auto; z-index:100;}
.header h1{/*float:left; margin-top:28px;*/ position:absolute; left:5px; top:28px; width:112px;}
.header .nav_top{/*float:right;margin-top:3px;*/ position:absolute; top:3px; right:0;}
.header .nav_top img{margin-top:-1px;}
.header .nav_top .nav{float:right;}
.header .nav_top .searchbox{width:100px; height:16px; background:#fdf5e6;  display:inline-block;margin-top:-1px; position:relative; float:right;}
.header .nav_top .searchbox input{height:14px; background:none;border:none;}
.header .nav_top .searchbox .searchbtn{ position:absolute; right:1px; top:1px;}
.header .gnb_area{ width:990px; height:335px; position:absolute; top:106px; left:-35px;z-index:180; border:1px solid #c8c8c8; border-top:none; z-index:100; background:url(../image/common/gnb_bg.gif) no-repeat 30px 80px #fff; display:none;}
.header .gnb{width:820px;height:60px; overflow:hidden; position:absolute; right:0; top:30px; z-index:200;  }
.header .gnb ul {float:right;}
.header .gnb ul li{float:left; width:186px; padding-right:14px; text-align:right; }
.header .gnb ul li ul {margin-top:30px; height:290px; background:url(../image/common/gnb_hdot.gif) repeat-y right; padding-right:16px; margin-right:0; width:235px; .width:100px; .padding-right:75px; text-align:center; }
.header .gnb ul li.last ul{ background:none; width:207px;}
.header .gnb ul li.last li{.width:170px;}
.header .gnb ul li ul li{padding-right:0; line-height:25px; .width:140px; }
.header .gnb ul li ul li a{color:#1c1c1c;}
.header .gnb ul li ul li a:hover{color:#F90;}


/*서브이미지*/
.subtop_img{width:990px; height:170px; overflow:hidden;}


/*left snb*/
.snb_area{float:left; width:195px; padding-left:20px;}
.snb{margin-bottom:100px;}
.snb li{width:162px; overflow:hidden; margin:2px 0; }
.snb li a:hover img,.snb li a.acitve img{ margin-left:-171px}


/*left우수활동사항*/
.activity_info{ width:160px; }
.activity_info strong{ font-weight:bold;}
.activity_info dt{background:url(../image/common/ico_li.gif) no-repeat 0px -8px; padding-left:15px; font-weight:bold; border-bottom:1px solid #e5e5e5;padding-bottom:11px; }
.activity_info dd{border:1px solid #e5e5e5; border-top:none; color:#915119; padding-left:13px; }
.activity_info dd.brown{ line-height:30px; background:#fff4e8;}
.activity_info ul { padding:8px 0 8px 18px;}
.activity_info ul a{text-decoration:none; letter-spacing:-1px; color:#767676; font-weight:normal; margin-left:-8px;}
.activity_info ul a strong{ font-weight:bold;}
.activity_info ul a:hover{color:#444444; font-weight:bold; letter-spacing:-2px;}
.activity_info ul li{ list-style:decimal; font-weight:bold; color:#767676; margin:8px 5px;}


/*내용 기본레이아웃*/
.contents_area{ float:right; width:700px; margin-right:20px;}
.contents_area .page_title{ position:relative; width:100%; border-bottom:1px solid #e5e5e5; padding-bottom:20px; margin-bottom:50px;}
.page_title h2{ display:inline-block; width:450px; overflow:hidden;}
.page_title ul.nav{ position:absolute; top:11px; right:0px;}
.page_title .nav li{ float:left; margin-left:5px; line-height:13px; height:13px; color:#5a5b5a; }
.page_title .nav li.current{ color:#d39f21;}
.page_title .nav li img{vertical-align:middle;}


/*footer*/

.footer{width:100%; height:89px; padding-top:100px; background:url(../image/common/footer_bg.gif) repeat-x; }
.footer .footer_cnt{width:920px; height:60px; margin:auto;  position:relative; }
.footer .footer_cnt select{ position: absolute; right:30px; top:20px;  }


/* bbs list table*/
table.bbs_list{ width:705px; text-align:center; table-layout:fixed;}
table.bbs_list tr.bbshead th{background:url(../image/bbs/bg_board_title.gif) no-repeat -10px 0; height:35px;}
table.bbs_list tr.bbshead th.first{ background-position: 0 0;}
table.bbs_list tr.bbshead th.last{ background-position: right top;}
table.bbs_list td{ line-height:50px; border-bottom:1px solid #b4b4b4;}
table.bbs_list tr.last td{ border-bottom:3px solid #b4b4b4;}
table.bbs_list strong{ font-weight:bold;}
table.bbs_list a{ color:#5e5e5e; text-decoration:none;}
table.bbs_list a:hover{ font-weight:bold; letter-spacing:-1px;}
table.bbs_list tr.notice a{color:#f0861f; font-weight:bold;}
table.bbs_list td.pd{line-height:18px; padding:10px 5px;}
table.bbs_list .answer{ display:none;}
table.bbs_list .answer div{width:98%; line-height:16px; margin:8px auto;}



/* bbs view table*/
table.bbs_view{ width:705px; text-align:center; table-layout:fixed;}
table.bbs_view_1{ width:676px; text-align:center;}
table.bbs_view tr.bbshead th,table.bbs_view tr.bbshead td{border-top:2px solid #e2dccf; height:35px; text-align:left;} 
table.bbs_view td,table.bbs_view th{ border-bottom:1px solid #e2dccf; text-align:left; height:35px;}/*line-height:30px; */
table.bbs_view tr.last td,table.bbs_view tr.last th{ border-bottom:2px solid #e2dccf; text-align:left;}
table.bbs_view strong{ font-weight:bold;}
table.bbs_view a{ color:#5e5e5e; text-decoration:none;}
table.bbs_view a:hover{ font-weight:bold; letter-spacing:-1px;}
table.bbs_view tr.notice a{color:#f0861f; font-weight:bold;}
table.bbs_view textarea{ width:705px; margin:auto;}
table.bbs_view .w590{width:590px;}
table.bbs_view .h180{ height:180px;}
table.bbs_view td.bbs_view{overflow:auto;color:initial;font-size:initial;font-family:initial;}
/*bbs comment */
.comment_cnt{ width:705px; height:30px; line-height:30px; margin-top:20px;}
.comment_cnt strong{font-weight:bold;}
.comment_cnt span{ padding:0 12px;}
.commentbox{ width:665px; min-height:65px; padding:20px; border-top:1px solid #e2dccf; border-bottom:1px solid #e2dccf;  background:#f9f8f5;}
.commentbox form{ clear:both;}
.commentbox .ment_txt{float:left; width:570px; height:57px; margin-bottom:25px;}
.commentbox .btn_ment{float:right;}
.commentbox dl{ clear:both; border-bottom:1px dotted #ccc; margin:10px auto 0 auto; padding:0 0 10px 0;  vertical-align:middle;}
.commentbox dl.rp{border-bottom:none;}
.commentbox dl dt{float:left;width:100px; line-height:18px;}
.commentbox dl dd{float:right; width:550px; line-height:18px;}
.commentbox dl li.gray{color:#acacac; width:100%; position:relative; margin-bottom:5px;}
.commentbox dl li.gray span.btngrp{position:absolute; right:0; top:-4px;}
.commentbox dl.rpment {  margin-top:15px;  border-bottom:none; clear:both;  margin-left:0;}
.commentbox dl.rpment.last{border-bottom:1px dotted #e2dccf; padding-bottom:10px;}
.commentbox dl.rpment dt{margin-top:10px;}
.commentbox dl.rpment dd{border-top:1px dotted  #e2dccf; background:url(../image/bbs/icon_replay.png) no-repeat 0 10px;}

.commentbox dl.rpment dd ul{margin-left:40px;}
.commentbox dl.rpment dd li.gray{color:#acacac; width:100%; position:relative; margin:10px 0; margin-bottom:5px; }


.commentbox dl.last{border:none;}
.commentbox .ment_edit{ color:#fff; background:#0CF; font-size:11px; padding:1px;margin-right:2px;}
.commentbox .ment_del{color:#fff; background:#FB7728; font-size:11px; padding:1px;}


/**/
.btngroup{ position:relative; width:705px; height:35px; margin-top:30px;}
.btngroup div{ height:35px;}
.btngroup .btn_l{position:absolute; left:0; width:80px;}
.btngroup .btn_r{position:absolute; right:0; width:130px; text-align:right;}
.btngroup .paging{position:absolute; top:5px; left:130px; width:445px; text-align:center;}
.btngroup .paging a{ margin:0 8px;}
.btngroup .paging a:hover{/* font-weight:bold;*/}
.btngroup .paging a.current{color:#eca100; font-weight:bold;}
.btngroup .paging a img{margin-top:-2px;}
.btngroup .paging a.img{ margin:-2px 0;}

/*.searchbox{position:relative; width:418px; height:39px; margin:10px auto; background:url(../image/bbs/bg_search.gif) no-repeat;}*/
.searchbox{position:relative; width:500px; height:50px; margin:10px auto; background:#eeeeee; border: 1px solid #d4d4d4;}
.searchbox div.wrap_1{ padding:12px 0 0 10px; width:auto;}
.searchbox .kewyword{width:170px;}

.c_orange{color:#ff6815;}
.c_brown{color:#927861;}

.mr12{margin-right:12px;}
.mt60{margin-top:60px;}
.mt20{margin-top:20px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}


.lh35{line-height:35px;}

.w535{width:535px;}
.w100p{width:100%;}