#group_02 dl {float:left;font-size:13px;color:#555;width:360px;height:460px; }
#group_02 dl.sub2 {margin-left:10px;}
#group_02 dl.sub3 {margin-top:37px;}
#group_02 dl.sub4 {margin-left:10px; margin-top:37px;}
#group_02 dt {width:343px; padding:9px 8px 5px 8px;}
#group_02 dt.title1 {background:#9cb513; }
#group_02 dt.title2 {background:#f78427; }
#group_02 dt.title3 {background:#a36eea; }
#group_02 dt.title4 {background:#ff9997; }
#group_02 dt span.title{font-weight:bold; font-size:20px; color:#ffffff;}
#group_02 dt span.title_text{font-size:11px; color:#444; margin:8px 0 0 6px;}
#group_02 dt span.more{float:right;padding-top: 5px;cursor:pointer;}
#group_02 dd {background:url('/image2/etc/bullet.jpg') no-repeat 0 50%; padding-left:10px; margin:7px 0 0 10px;  width: 100%; height: 20px;cursor:pointer; }
#group_02 dd:hover{font-weight:800; }
#group_02 dd.recommend{font-weight:bold; margin-top:17px; background:none; padding: 0 0 3px 0;font-size:14px; }
#group_02 dd.recommend img{float:left;margin-right:10px;}
#group_02 dd span.comment{color:#f78427;}
#group_02 dd div.group_02_title{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:275px;float:left;margin-right:10px;}
#group_02 dd div.group_02_title_02{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:227px;float:left;margin-right:10px;}
