/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
	width:993px;
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#mainBanner {
	width:994px;
	position:relative;
	height:381px;
	display:none;
	margin-top:22px;
	/*margin-bottom:10px;*/
	margin-bottom:25px;
	
}

div.slide a{
	display:block; position:relative; float:left; width:994px; height:416px; 
}
div.slide a div.bg{
	width:994px; background:#f68427; position:absolute; bottom:0; left:0; z-index:91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* IE 7 and olders */
    opacity: .8;
	color:#fff;
	text-align:center;
	font-size:12px;
	padding:9.5px 0;
}
div.slide a div.bg2{position:absolute; left:55px; top:55px; background:#f68427; z-index:91; width:265px; height:284px; text-align:center; color:#fff;}
div.slide a div.bg2 .big{font-size:20px;margin:21px 0 25px 0;}
div.slide a div.bg2 .small{font-size:24px;padding:0 13px 0 20px; min-height:135px;}
div.slide a div.bg2 .btn{ border-radius:20px 20px;background:#fed6a2; width:153px;height:38px; margin:0 auto; margin-top:25px;}
div.slide a div.bg2 .btn span{ color:#000; font-weight:bold;line-height:37px;}