/* 서포터즈 */
.blog_box2 .guerrilla_event .event_img::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(/img/front/board/dim.png) no-repeat bottom;
    opacity: 0;
    content: '';
    transition: .4s;
}
.blog_box2 .guerrilla_event .event_img:hover::after {
    opacity: 1;   
}
.blog_box2 .guerrilla_event .event_img > img {
    aspect-ratio: 380 / 465;
}
.guerrilla_event li {
    min-width: 0;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--border);
}
.mission_com {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 3.8rem;
    line-height: 3.8rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    color: #fff;
    padding: 0 3.4rem;
    display: block;
    opacity: 0;
    transition: .4s;
}
.blog_box2 .guerrilla_event .event_img:hover .mission_com {
    opacity: 1;
}
.status_wrap {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 80%;
    height: 40%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 5;
}
.status {
    display: inline-block;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: .5rem;
    padding: 0 1rem;
    background: var(--main_color);
    color: #fff;
    font-size: var(--fz14);
    margin-right: .4rem;
}
.status.status_txt {
    background: #fff;
    color: var(--main_color);
    margin-top: 5px;
}
.type_check {
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 5;
}
.type_check img {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-left: -0.6rem;
}
.blog_box2 .title {
    margin: 1.9rem 0 1.5rem;
}
.blog_box2 .day {
    font-size: 0;
}
.blog_box2 .day .date_02 {
    display: inline-block;
}
.blog_box2 .period {
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 1.2rem;
    padding: 0 1.1rem;
    background: #000;
    color: #fff;
    margin-right: 1rem;
    display: inline-block;
}
.btn_add {
    position: absolute;
    right: 0;
    top: -.6rem;
    z-index: 33;
    display: flex;
    gap: .5rem;
}
.btn_add_premier {
    position: absolute;
    right: 0;
    top: -6rem;
}

/* view */
.suppoters_view { 
    margin-top: 70px;
    border-top: 1px solid var(--border);
}
.suppoters_view .sub_wrap > .left {
    padding-top: 10rem;
    width: calc(100% - 52rem); 
    border-right: 1px solid var(--border);
    padding-bottom: 25rem;
}
.suppoters_view .sub_wrap >  .right { 
    width: 52rem;
    padding-top: 10rem;
}
.fix_box {
    padding: 0 0 0 8rem;
    /* position: fixed;
    right: 13rem;
    top: 70px; */
    width: 52rem;
    transition: .2s;
}
.mission_guide_btn {
    margin-bottom: 2rem;
    display: block;
    padding: 0 3rem;
    height: 6.4rem;
    line-height: 6.4rem;
    border-radius: 1.3rem;
    background: #ffe9e1 url(/img/front/main/tab_arr_right_c.webp) no-repeat right 3rem center;
    cursor: pointer;
}
.mission_guide_btn img {
    margin-right: .8rem;
}
.right .applybox {
    border-radius: 1.5rem;
    border:  1px solid var(--border);
    padding: 3.5rem;
    margin-bottom: 5rem;
}
.right .content_btn {
    width: 100%;
    height: 5.8rem;
    line-height: 5.8rem;
    border-radius: 2.9rem;
    text-align: center;
    font-size: var(--fz17);
    font-weight: bold;
    background-color: var(--main_color);
    color: #fff;
    display: block;
    margin-top: 1rem;
}
.right .content_btn.pick_support {
    line-height: 5.6rem;
    color: var(--main_color);
    border: solid 1px var(--main_color);
    background-color: #fff;
    cursor: pointer;
}
.right .content_btn.end {  
    font-size: var(--fz17);  
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    background-color: #f6f6f6;
}
.right .content_btn.download_btn {
    border: 0;
    background-color: #ffe9e1;
    color: var(--main_color) !important;
    padding: 0;
}
.right .download_btn img {
    margin-left: .9rem;
    margin-top: -.2rem;
}


.right .applybox li .tit {
    font-size: var(--fz18);
    font-weight: 600;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
} 
.right .applybox li .tit.orange {
    color: rgba(0, 0, 0, 0.8);
} 
.right .applybox li .tit.orange::after {
    position: absolute;
    left: -3.4rem;
    top: -.3rem;
    width: 2.2rem;
    height: 2.2rem;
    content: '';
    background: url(/img/front/board/checklist.webp) no-repeat center;
    background-size: contain;
    z-index: 3;
}
.right .applybox li > .tit::before {
    position: absolute;
    left: -2.7rem;
    top: 0.4rem;
    width: .9rem;
    height: .9rem;
    border-radius: 100%;
    content: '';
    background-color: #e5e5e5;
    z-index: 1;
}
.right .applybox li + li {
    padding-top: 2.6rem;
}
.right .applybox li .cont {
    font-size: var(--fz16);
    color: rgba(0, 0, 0, 0.5);
    margin-top: .9rem;
} 
.right .applybox li > .cont.orange {
    color: rgba(0, 0, 0, 0.8);
}
.right .applybox ul {
    padding-left: 3.4rem;
    position: relative;
}
.right .applybox ul li {
    position: relative;
}
.right .applybox li + li::after {
    position: absolute;
    left: -2.3rem;
    top: -50%;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #e5e5e5;
}
.right .button_area .fc_main {
    color: var(--main_color);
}

.applybox .apply {

}

/* 상단 타이틀 정보 */
.content_img_title  {
    position:  relative;
}
.content_img_title .snsbox {
    z-index: 88;
}
.content_img_title .content_img {
        margin-right: 8rem;
}
.content_img_title .content_img > img {
    width: 37.6rem;
    aspect-ratio: 376/459;
    object-fit: cover;
}
.content_title {
    flex: 1;
    padding-right: 8rem;
    padding-top: 0;
}
.content_title .type_check {
    bottom: 3rem;
}
.title_wrap {
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--border);
}
.title_wrap .status {
    margin-right: .5rem;
    margin-bottom: 3rem;
}
.suppoters_view .title_wrap .status {
    margin-top: 0;
    border: 1px solid var(--main_color);
}
.top_title2 {
    margin-top: 2rem;
    color: #727272;
}
.content_title .cont_info {
    border-bottom: 1px solid var(--border);
    padding: 2rem 0 2.2rem;
}
.content_in th {
    text-align: left;
    font-size: var(--fz16);
    font-weight: 600;
}
.content_in th img {
    margin-right: .5rem;
    margin-top: -.4rem;
}
.content_in .use_info {
    font-size: var(--fz14);
    font-weight: 500;
    opacity: .5;
    display: inline-block;
    padding-bottom: .2rem;
    border-bottom: 1px solid var(--border);
    margin-left: 1rem;
}
.content_in .use_info img {
    margin-left: .8rem;
}
.content_title .desc_info {
    margin-top: 1.8rem;  
    line-height: 1.5;
}
.content_title .desc_info b {
    font-weight: bold;
}
.content_in table {
    margin-top: 1.4rem;
}
.content_in table tbody tr {
    border: 0;
}
.content_in table tbody tr td {
    text-align: right;
    padding: .8rem 0;
    font-size: var(--fz16);
    font-weight: 600;  
    color: #000;
}
.content_in table tbody tr td span {    
    color: #999;
}
.spm_img {
    text-align: center;
}
.more_view_cont {
    padding-top: 12rem;
    max-width: 80rem;
    margin: 0 auto;
}
.more_view_cont b {
    font-weight: bold;
}
.more_view_cont.on {
    height: 133.6rem;
    overflow: hidden;
}
.content_guide .more_btn {
    height: 5.8rem;
    line-height: 5.6rem;
    border-radius: 3rem;  
    border: solid 1px #e5e5e5;
    margin: 5rem auto 0;
    width: 80rem;
    cursor: pointer;
    display: block;
}
.more_view_cont::after {
    display: none;
}
.more_view_cont.on::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40rem;  
    background-image: linear-gradient(to top, #fff, transparent);
}

/* write */
#subpage.talk_write .board_wrap .right {
    margin-bottom: 0;
    padding-bottom: 20rem;
}
.spm_mission_box {
    padding-top: 5rem;
}
.spm_mission_box dl {
    display: flex;
    margin-bottom: 2rem;
}
.spm_mission_box dl dd {
    line-height: 1.4;
}
.line2 > div {
    margin-bottom: 1rem;
}
.spm_mission_box .bg1 {
    display: block;
    font-size: var(--fz17);
    font-weight: 500;
    min-width: 14rem;
    line-height: 3.5rem;
}
.spm_mission_box input[type=text],
.spm_mission_box input[type=password], 
.spm_mission_box input[type=tel], 
.spm_mission_box input[type=email], 
.spm_mission_box input[type=file], 
.spm_mission_box select, 
.spm_mission_box .nice-select,
.spm_mission_box textarea  {
    height: 3.5rem;
    line-height: 3.5rem;
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;
    font-size: var(--fz14) !important;
    color: #000;
    padding: 0;
    width: 50rem  !important;
}
.spm_mission_box textarea {    
    height: 7rem;
    border: 1px solid #d1d1d1;
}
.spm_mission_box input[type=text]::placeholder {
    font-size: var(--fz14) !important;
}
.write_cont .no-top .cheditor-container {
    margin-top: 1rem;
}
.spm_mission_box .date_selec {
    gap: 1rem;
}
.spm_mission_box .date_selec input[type=text] {
    width: 20rem !important;
}
.btn_up {
    background: var(--main_color);
    padding: 0 1rem;
    color:#fff;
    display: inline-block;
    height: 3rem;
    line-height:3rem;
    border-radius: 3rem;
}
#keyWordContainer {
    margin-top: 2rem;
}

/* 팝업 */
.guide_popup .pop_tit {
    margin-bottom: 5rem;
}
.guide_popup .guide_wrap .pop_cont {
    padding-right: 6rem;
    min-height: 47rem;
}
.guide_popup .text_wrap {
    flex: 1;
}
.guide_popup .text_wrap .pop_cont,
.guide_popup .text_wrap .pop_tit {
    padding-left: 6rem;
}
.guide_popup .wid50 {
    width: 50%;
}
.guide_popup .text_wrap.wid50 .pop_cont {
    border-left: 1px solid var(--border);
}
.pop_cont.guid_dw .guide_btn {
    height: 5.8rem;
    line-height: 5.6rem;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 2.9rem;
    border:  1px solid var(--border);
    padding: 0 7rem;
    transition: .4s ease-in-out;
}
.pop_cont.guid_dw .guide_btn > p {    
    width: 100%;
}
.pop_cont.guid_dw .guide_btn > img {
    margin-right: .4rem;
}
.guide_popup .guide_dw_img {
    display: block;
    width: 1.4rem;
    height: 1.6rem;
    background: url(/img/front/board/guide_bl.webp) no-repeat center;
    background-size: contain;
}
.pop_cont.guid_dw .guide_btn:hover {
    background: #000;
    border: 1px solid #000;
} 
.pop_cont.guid_dw .guide_btn:hover p {
    color: #fff;
}
.pop_cont.guid_dw .guide_btn:hover .guide_dw_img {
    background: url(/img/front/board/guide_wh.webp) no-repeat center;
    background-size: contain;
}
.guide_popup .banner_img {
    padding: 2.8rem;
    margin-top: 1.1rem;
    background-color: #f8f8f8;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1.6rem;
}
.guide_popup .banner_info li {
    font-size: var(--fz14);  
    color: rgba(0, 0, 0, 0.7);  
    line-height: 1.57;
}
.guide_popup .pop_cont > div {
    margin-top: 2.4rem;
}
.insta_txt .banner_img {
    margin-top: 1rem;
}
.naver_cont {  
    margin-top: 1.5rem;
    padding: 3rem;
    border-radius: .5rem;
    border: 1px solid var(--border);
}
.naver_cont li {
    display: flex;
    align-items: flex-start;
}
.naver_cont li:last-child p {
    line-height: 1.44;
}
.naver_cont li + li {
    margin-top: 4rem;
}
.naver_cont li span {
    display: block;
    margin-right: 3rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid var(--main_color);
}
.naver_cont .btn_copy {
    height: 2.8rem;
    line-height: 2.8rem;
    border-radius: .5rem;
    display: inline-block;
    margin-top: 1.4rem;
    cursor: pointer;
}
.btn_copy img {
    margin-top: -.2rem;
    width: 1.3rem;
    margin-left: .7rem;
}

/* 라이프, 뷰티 클럽 */
.support_club .sub_menu {
    border-top: 1px solid #000;
    margin-bottom: 5rem;   
}
.support_club .sub_menu li {
    border-bottom: 1px solid var(--border);   
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.support_club .sub_menu li,
.support_club .sub_menu a {
    height: 6.4rem;
    line-height: 6.4rem;
    font-size: var(--fz20);
    color: #585858;
    font-weight: 500;
}
.support_club .sub_menu li img {
    display: none;
}
.support_club .sub_menu li.on img {
    display: block;
}
.support_club .sub_menu li.on,
.support_club .sub_menu li.on a {
    font-weight: 600;  
    color: #000;
}
.support_club .boardTabMenuWrap {
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 0;
}
/*프리미어 뷰티, 프리미어 라이프 검색창 추가 요청 S*/
/*.support_club .mu_searchbox {
    display: none !important;
}*/
.support_club .datebox {
    display: none !important;
}
/*프리미어 뷰티, 프리미어 라이프 검색창 추가 요청 E*/
/* 체험단 후기 작성 */
.talk_write .info_banner {
    margin-top: 1.9rem;
    border: 1px solid var(--border);
    border-radius: .5rem;
    padding: 2.8rem 0 3.5rem;
    text-align: center;
}
.info_banner_wrap {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.talk_write .info_banner > p {
    margin-bottom: 1.4rem;
}
.talk_write .info_banner > span {
    line-height: 1.53;
}
.sns_wirte { 
    border-radius: .5rem;
    background-color: #fafafa;
    padding: 5rem;
    margin-bottom: 6rem;
}

/* 신청자 팝업 */
.applicant_popup .inner {
    height: 80vh;
    padding: 3rem;
}
.applicant_popup .inner_contents {
    display: grid;
    grid-template-columns: 42fr 48fr;
    gap: 2.5rem;
}
.applicant_popup .article_img img {
    width: 100% !important;
}
.applicant_popup .description_box {
    padding-top: 3rem;
}
.applicant_popup .description_box .article_txt ul {
    margin-top: 6rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}
.applicant_popup .description_box .article_txt ul li {
    padding: 2rem 0rem;
}
.applicant_popup .description_box .article_txt ul li:first-child {
    border-bottom: 1px solid #e5e5e5;
}
.applicant_popup .description_box .star_ic {
    margin-right: 0.3rem;
    vertical-align: text-top;
}
.applicant_popup .description_box h3 {
    margin-top: 4rem;
}
.description_box .applicant_list {
    border: 1px solid #e5e5e5;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 2rem;
}
.description_box .applicant_list .txt {
    margin-bottom: 2rem;
}
.description_box .applicant_list .txt li {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.36;
}
.description_box .spm_wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
.description_box .spm_wrap li {
    background-color: #f4f4f4;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.description_box .img_wrap {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 5rem;
}
.description_box .position_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.description_box .img_wrap img {
    object-fit: cover;
}
.description_box .spm_wrap li span:last-child {
    margin-left: 0.7rem;
}