/* grid */
.aklove_page {

}
.aklove_page .left {
    width: 100%;
}
.aklove_page .right {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 13rem;
}
.aklove_page .pb_s {
    margin-bottom: 12rem;
}

.aklove_page .pb_m {
    margin-bottom: 16rem;
}

.aklove_page .pb_0 {
    margin-bottom: 0;
}

.content_info {
    border-top: 1px solid #000;
    padding-top: 2.8rem;
}

.content_info h3 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.33;
}

.content_info h3 .step {
    color: #ff4c05;
    text-decoration: underline;
    margin-right: 1.4rem;
}

.content_info p {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.73;
    letter-spacing: -0.045rem;
    font-weight: bold;
    opacity: 0.7;
}

.method_list {
    margin-top: 3rem;
}

.method_list .method_item {
    margin-bottom: 3rem;
}

.method_list .item_word {
    background-color: #f8f8f8;
    width: fit-content;
    padding: 0.9rem 1rem;
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.083rem;
}

.method_list .item_des {
    margin-top: 1.7rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.075rem;
    opacity: 0.7;
}

/* 공정위 배너/문구 content 스타일 */
.caution {
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 3.5rem 3rem;
}

.caution p {
    margin-top: 1.5rem;
    font-size: 1.65rem;
    line-height: 1.45;
    letter-spacing: -0.098rem;
}

.content {
    margin-bottom: 5rem;
}

.con_info h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.39;
    letter-spacing: -0.11rem;
}

.con_info .point {
    color: #ff4c05;    
    font-size: 1.65rem;
    font-weight: 600;
    margin-left: 1rem;
}

.con_info .description {
    font-size: 1.5rem;
    color: #373737;
    line-height: 1.6;
    letter-spacing: -0.075rem;
    margin-top: 2rem;
}

.con_info .method {
    margin: 1.6rem 0 1.6rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.083rem;
    padding: 0.8rem 1rem;
}

.con_info .method_banner_list li {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.045rem;
    margin-bottom: 0.8rem;
}

.content_info .btn_round {
    width: fit-content;
    border: 1px solid #e5e5e5;
    border-radius: 2.4rem;
    margin-top: 2rem;
}

.content_info .btn_round a {
    padding: 1.6rem 3rem;
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.085rem;
}

.con_info .btn_square {
    margin-top: 2rem;
    background-color: #000;
    width: fit-content;
    border-radius: 0.5rem;
}

.con_info .btn_square a {
    display: block;
    padding: 1.5rem 2.3rem;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.09rem;
    cursor: pointer;
}

.con_info .btn_square img {
    vertical-align: inherit;
    margin-left: 1rem
}


.con_info .number {
    display: inline-block;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 0.3rem;
    background-color: #ff4c05;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    line-height: 2.1rem;
    margin-right: 1rem;
}

.content .banner {
    background-color: #f8f8f8;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
    padding: 8rem 0;
}

.content .pad_short {
    padding: 4rem 2rem;
}

.banner .banner_image {
    margin: 0 auto;
}

.banner .text {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: -0.16rem;
}

.banner .banner_info {
    margin-top: 2rem;
    font-size: 1.5rem;
    opacity: 0.7;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.045rem;
}

/* Beauty/Life & multi club content 스타일 */
.image_content {
    grid-row-gap: 4.9rem;
}

.image_content .con_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_content .con_tit {
    margin-top: 1.8rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
}

.consumer_content .con_tit {
    margin-bottom: 1.8rem;
}

.consumer_content .con_tit a {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
}

.image_content .con_tit .arrow, .consumer_content .con_tit .arrow {
    margin-left: 0.7rem;
}

.image_content .con_tit .arrow img, .consumer_content .con_tit .arrow img {
    vertical-align: top;
}

.image_content .cont_des {
    margin-top: 1.2rem;
    font-size: 1.65rem;
    letter-spacing: -0.083rem;
    line-height: 1.58;
    color: #373737;
}

.image_content .btn_moreview {
    margin-top: 4rem;
    width: fit-content;
    border: 1px solid #e5e5e5;
    border-radius: 4rem;
}

.image_content .btn_moreview a {
    display: block;
    padding: 1.6rem 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: -0.085rem;
}

.gift_content li {
    background-color: #fafafa;
    padding: 3rem 0rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.gift_content .gift_num {
    text-align: center;
}

.gift_content .gift_num p:first-child {
    color: #ff4c05;
    font-size: 1.5rem;
    letter-spacing: -0.045rem;
}

.gift_content .gift_num p:last-child {
    margin-top: 1.3rem;
    color: #ff4c05;
    font-size: 5rem;
}

.gift_content .gift_info_tit {
    font-size: 1.95rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.117rem;
    text-align: center;
}

.gift_content .gift_info_des {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: -0.09rem;
    opacity: 0.8;
    margin-top: 1rem;
    text-align: center;
}

.gift_content .gift_icon {
    text-align: center;
    margin: 3rem auto;
}

.gift_bottom {
    position: relative;
    margin: 3rem 0;
}

.gift_bottom::before {
    content:"※";
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    left: 0;
}

.gift_bottom p {
    font-size: 1.5rem;
    color: #373737;
    line-height: 1.6;
    letter-spacing: -0.075rem;
    margin-left: 2rem;
}

.point_contents > li {
    gap: 1rem;
    margin-bottom: 8rem;
}

.point_contents .point_info p {
    font-size: 1.95rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.098rem;
}

.point_contents .point_info .number {
    display: inline-block;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 0.3rem;
    background-color: #ff4c05;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    line-height: 2.1rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
}

.point_contents .point_info ul {
    margin-top: 1.5rem;
    padding-left: 1.3rem;
}

.point_contents .point_info ul li {
    font-size: 1.65rem;
    color: #373737;
    line-height: 1.58;
    letter-spacing: -0.083rem;
    list-style-type: '- ';
    list-style-position : outside;
}


/* Table CSS */
.grid_custom {
    display: grid;
    grid-template-columns: 4fr 1.8fr;
    grid-column-gap: 0.4rem;
    align-items: center;
}

.table_container {
    border: 1px solid #e5e5e5;
    padding: 2rem 2rem 1rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
}

.table_container .table_head > div {
    background-color: #f8f8f8;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    font-size: 1.65rem;
    font-weight: 500;
    letter-spacing: -0.083rem;
}

.table_container .table_body li {
    padding: 3rem 0;
    border-bottom: 1px solid #e5e5e5;
}

.table_container .table_body li:last-child {
    border-bottom: 0;
}

.table_container .table_body li > div {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.085rem;
    line-height: 1.53;
}

.table_container .table_body li > div:first-child {
    position: relative;
    padding: 0 2rem;
}

.table_container .table_body li > div:first-child::after {
    display: block;
    content: "";
    width: 1px;
    height: 2.6rem;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    right: -0.4rem;
    margin-top: -1.3rem;
}

.point_contents .point_image {
    margin-top: 2rem;
}

.point_contents .point_image img {
    width: 100%;
}

.point_contents .point_notice {
    border: 1px solid #e5e5e5;
    margin-top: 3rem;
    padding: 2rem;
}

.point_contents .point_notice .pn_top {
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    padding: 1.4rem 0;
    font-size: 1.65rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.083rem;
}

.point_contents .point_notice .pn_content {
    counter-reset: colorcircle 0;
}

.point_contents .point_notice .pn_content li {
    padding: 2rem;
    border-bottom: 1px solid #e5e5e5;
    counter-increment: colorcircle 1;
    list-style-position: inside;
    text-indent: -0.7rem;
    margin-left: 0.9rem;
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: -0.083rem;
}

.point_contents .point_notice .pn_content li::before {
    display: inline-block;
    content: counter(colorcircle) ". ";
}

.point_contents .point_notice .pn_content li:last-child {
    border-bottom: 0;
}

.point_contents .point_notice .pn_content .pn_des {
    margin-top: 1.9rem;
    color: rgba(55, 55, 55, 0.8);
    font-size: 1.5rem;
    line-height: 1.63;
    letter-spacing: -0.075rem;
    text-indent: 0;
    margin-left: -0.9rem;
}

.point_contents .point_notice .pn_content .pn_des span {
    display: inline-block;
    line-height: 1;
}

.point_contents .point_notice .pn_content .pn_des img {
    width: 0.8rem;
    vertical-align: top;
    margin-left: 0.2rem;
}

/* 팝업 스타일 */
.popup {
    min-width: initial;
    transition: all .3s;
}

.popup .inner {
    width: 89vw;
    height: 60vh;
    min-height: initial;
    overflow-y: scroll;
    padding: 5rem 2rem;
    transition: all .3s;
}
