
 @charset "euc-kr";

/* @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: normal;
	src: url(/font/NanumGothic.eot);
	src: url(/font/NanumGothic.eot?#iefix) format('embedded-opentype'),
		url(/font/NanumGothic.woff) format('woff'), url(/font/NanumGothic.ttf)
		format('truetype');
}

@font-face {
	font-family: 'Nanum Gothic Bold';
	font-style: normal;
	font-weight: 700;
	/* src: local('Nanum Gothic Bold'), local('Nanum Gothic-Bold'), local('NanumGothic Bold');*/
	src: url(/font/NanumGothicBold.eot);
	src: url(/font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
		url(/font/NanumGothicBold.woff) format('woff'),
		url(/font/NanumGothicBold.ttf) format('truetype');
}

html, body {	margin: 0px;	padding: 0px;	font-family: "나눔고딕", "Nanum Gothic", "돋움체", "돋움";}
* {	margin: 0px;	padding: 0px;	font-family: "나눔고딕", "Nanum Gothic", "돋움체", "돋움";}
body {	font-size: 14px;	font-family: "나눔고딕", "Nanum Gothic", "돋움체", "돋움";}
ul {	list-style: none;}
a {	text-decoration: none;	color: #000;}
img {	border: 0px;border:0; vertical-align:bottom; }
li {list-style:none; }
span.btn {	display: inline-block;	cursor: pointer;	font: 12px/14px Arial, Helvetica, sans-serif;	color: #aaa;	background-color: #eee;	-moz-border-radius: 10px;	-webkit-border-radius: 10px;	-moz-box-shadow: #999 2px 0px 3px;	-webkit-box-shadow: #999 2px 0px 3px;}
span.btn:hover {	background-color: orange;}
input {	border: none;	-moz-box-shadow: #999 2px 0px 3px;	-webkit-box-shadow: #999 2px 0px 3px;}

#header {width:100%; height:65px; background:#f1710c;position: relative;	display: block;}
#header img {height:65px; width:auto; }
#header h1 {float:left; }
#header li img {	width: 100%;}
#header li {	float: left;	list-style: none;}
#header li.text {margin:18px 0 0 5px;}

.top_bg {	position: relative;}
.top_bg span {	position: absolute;	line-height: 12px;	left: 3px;	bottom: 15%;	font-size: 11px;	font-weight: bold;	letter-spacing: -1px;	word-spacing: 0px;	color: #fff;}

#icon {	width: 100%;	height: auto;	margin-top: 7%;	margin-bottom: 7%;}
#icon ul {	width: 85%;	height: auto;	margin: auto;	text-align: center;}
#icon li {	width: 58px;	display: inline;	list-style: none;	margin: auto;	padding-left: 10px;	line-height: 25px;}
#icon img {	width: 55px;}
#icon .clear {	clear: both;	height: 0px;}

#tab {	color: #fff;	font-size: 14px;	width: 100%;	font-weight: bold;}
#tab ul {	padding: 0px;	margin: 0px;	width: 100%;}
#tab li {	list-style: none;	float: left;	text-align: center;	vertical-align: middle;	padding-top: 14px;	padding-bottom: 3px;	position: relative;}
#tab p {	vertical-align: middle;}

#main_list ul {	background-image: url(../img/list_bg.jpg);	float: left;	list-style: none;	color: #000000;	height: 45px;}
#main_list li {	position: relative;	letter-spacing: -1px;	word-spacing: 1px;	float: left;}

.list_left img {	vertical-align: middle;	margin-top: -3px;}
.list_left {	margin-top: 16px;	font-size: 12px;	color: #5c5c5c;	margin-left: 3%;	width: 18%;}
.list_right {	margin-top: 17px;	color: #b5b5b5;}
.list_center {	margin-left: 10px;	margin-top: 17px;	font-size: 12px;	color: #5c5c5c;	margin-left: 5%;	margin-right: 3%;	width: 52%;	overflow: hidden;	text-overflow: ellipsis;	white-space: nowrap;}
.list_center img {	vertical-align: middle;	margin-top: -4px;}

#love1 {	width: 90%;	margin: auto;	margin-top: 30px;}
#love1 ul {	width: 100%;	margin: 0px;	padding: 0px;}
#love1 li {	float: left;	list-style: none;	letter-spacing: -1px;}
#love1 p {	margin-top: 20px;}

.orange {	color: #f78429;	font-weight: bold;}

#love2 {	width: 90%;	margin: auto;}
#love2 table {	float: left;	list-style: none;	letter-spacing: -1px;	line-height: 16px;	font-size: 12px;	margin-bottom: 35px;}
#love2 table td {	padding-top: 10px;	padding-bottom: 10px;}
#love2 table p {	margin-bottom: 3px;}
.love2_right {	padding-top: 10px;	border-bottom: 1px solid #dedede;	padding-left: 2%;	color: #707070;}

#login {	margin: auto;	padding-top: 3%;	font-size: 1.2em;}
#login div {	margin: auto;	float: left;	padding: 5px;	vertical-align: bottom;	text-align: center;}
#login .row {	width: 100%;	margin-bottom: 10px;}
#login .row .btn {	width: 100px;}
#login div span {	font-weight: 800;	color: #F68529;	font-size: 1.2em;}
#login .login_top {	border-bottom: 1px solid #dddddd;	margin: 0 auto 18px auto;	padding-bottom: 15px;}

#bottom_logout, #bottom_login {width: 100%;	background: #464646;	height: 45px;}
#bottom_logout ul {	width: 230px;	padding: 0px;	margin: auto;	padding-top: 14px;}
#bottom_login ul {	width: 150px;	padding: 0px;	margin: auto;	padding-top: 14px;}
#bottom_logout li, #bottom_login li {	float: left;	list-style: none;}

.btn img{width:65px; height:auto; }	
.search img{width:20px; height:auto; }

#copyright {	width: 100%;	background: #f8f8f8 !important;	height: 60px;}
#copyright p {	text-align: center;	color: #666666;	margin: auto;	padding-top: 9px;	font-size: 10px;}

.clear {	clear: both;	height: 0px;	width: 100%;}

#nav {	z-index: 1001;	width: 60em;	font-family: 'NanumGothic';	font-weight: 400;	position: absolute;	margin-left: -30em; /* 30 480 */}
#nav>a {	display: none;}
#nav li {	position: relative;}
#nav li a {	color: #fff;	display: block;}
#nav li a:active {	background-color: #c00 !important;}
#nav span:after {width: 0;	height: 0;	border: 0.313em solid transparent; /* 5 */	border-bottom: none;	border-top-color: #efa585;	content: '';	vertical-align: middle;	display: inline-block;	position: relative;	right: -0.313em; /* 5 */}
#nav>ul {	height: 3.75em; /* 60 */	background-color: #f78429;}
#nav>ul>li {	width: 25%;	height: 100%;	float: left;}
#nav>ul>li>a {	height: 100%;	/* font-size: 1.7em; */ /* 24 */	line-height: 2.6em; /* 60 (24) */	text-align: center;}
#nav>ul>li:not ( :last-child ) > a {	border-right: 1px solid #FF9900;}
#nav>ul>li:hover>a, #nav>ul:not ( :hover ) > li.active>a {	background-color: #FF9900;}
#nav li ul {	background-color: #FF9900;	display: none;	position: absolute;	top: 100%;}
#nav li:hover ul {	display: block;	left: 0;	right: 0;}
#nav li:not ( :first-child ):hover ul {	left: -1px;}
#nav li ul a {font-size: 0.9em; /* 20 */	padding: 0.25em; /* 15 (20) */}
#nav li ul li a:hover, #nav li ul:not ( :hover ) li.active a {background-color: #f78429;}
#nav {	width: 100%;	position: static;	margin: 0;	font-size: 1.2em; /* 24 */}
#nav {	position: relative;}
#nav>a {	text-align: left;	position: relative;}
#nav>a:after {	top: 60%;}
#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {  display: block;  margin: 2% 2% 0% 2%;}
#nav>a>img {	width: 15%;	max-width: 55px;}
#nav>ul {	height: auto;	display: none;	position: absolute;	left: 0;	right: 0;}
#nav:target>ul {	display: block;	margin: 0% 2%;}
#nav>ul>li {	width: 100%;	float: none;}
#nav>ul>li>a {	height: auto;	text-align: left;	padding: 0 0.833em; /* 20 (24) */}
#nav>ul>li:not ( :last-child ) > a {	border-right: none;	border-bottom: 1px solid #FF9900;}
#nav li ul {	position: static;	padding: 1.25em;padding-top: 0.5em;	overflow: hidden;}
#nav li ul li {	width: 50%;	float: left;	height: 21px;}

.fullcontents {	width: 100%;}

/* 포인트 순위 페이지*/
.chart_main {	border: 1px solid #C6C6C6;	width: 94%;	height: 220px;	margin: 3%;}
.chart_main>div>span#chart_title {	background-color: #636363;	color: white;	padding: 1%;	font-size: 1.2em;	padding: 1.5%;}
.chart_main>div.chart_nick {	float: left;	width: 33%;	padding: 14px 1% 1% 1%;	margin-left: 3%;}
.chart_main>div.chart_nick>p {	margin-bottom: 8px;	font-size: 1em;	overflow: hidden;	width: 100%;	height: 23px;}
.chart_main>div.chart_nick>p>span {	padding: 4px 6px;	margin-right: 12px;	font-size: 15px;	border_radius: 800;	color: white;}
.chart_sub {	width: 350px;	height: 500px;	float: left;}
.chart_sub>p {	margin: 15px;	margin-left: 0px;}
.chart_sub>p>span {	color: white;	padding: 4px;	margin: 15px;	margin-left: 0px;	font-size: 13px;}
.chart_sub>div.chart_nick {	float: left;	width: 92px;	padding: 15px 10px;}
.chart_sub>div.chart_nick>p {	margin-bottom: 8px;	overflow: hidden;	height: 20px;}
.chart_sub>div.chart_nick>p>span {	font-size: 12px;}

#reply_area_02 {	display: none;	width: 90%;	margin: auto;	margin-bottom: 10px;}
#reply_area_02 ul {	width: 100%;}
#reply_area_02 ul li {	float: left;	padding-bottom: 0px;}
#reply_area_02 ul li input {	width: 90%;	margin: 0 0 7% 10%;	padding: 3px;}
#reply_area_02 ul li textarea {	height: 55px;}

.wrapper {	position: relative;	font-family: Arial, Helvetica, sans-serif;padding-top: 90px;	padding-left: 50px;	width: 80%;	margin: auto}
.wrapper .text {	font-family: Arial, Helvetica, sans-serif;	padding-top: 50px;}
.wrapper h1 {	font-family: Arial, Helvetica, sans-serif;	font-size: 26px;}

.longText {	margin-top: 20px;	width: 600px;	font: 18px/24px Arial, Helvetica, sans-serif;	color: gray;}

.btn_recommand_report {	text-align: center;	padding: 15px;}
.btn_recommand_report img {	float: none;	width: 70px;	cursor: pointer;}

#icons{overflow:hidden;}
#icons ul {width:100%; height:auto; float:left; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; }
#icons ul li {width:25%; float:left; background:#000; }

#tabs{overflow:hidden;}
#tabs {width:100%; font-size:14px; font-weight:bold; }
#tabs li {float:left; width:25%; } 
.tab_button{ cursor:pointer;}

#slide_contents{ overflow:hidden;min-height:220px;}

.main_lists ul {background:#f5f5f5; float: left; color:#6d6d6d; height:45px; border-bottom:1px solid #b2b2b2; width:100%; }
.main_lists li {position:relative; letter-spacing:-1px; word-spacing:1px; float:left; }

.lists_left img {vertical-align:middle; margin-top:2px; }
.lists_left {margin-top:15px; font-size:14px; color:#5c5c5c; margin-left:3%; width:22%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.lists_center {margin-left:18px; margin-top:15px; font-size:14px; color:#5c5c5c; margin-left:2.2%; margin-right:5%; width:45%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.lists_center img {vertical-align:middle; margin-top:-4px; }
.lists_right{margin-top:17px; color:#a0a0a0; font-size:14px; float:right; padding-right:3%; width:19% }

#bottoms_logout, #bottom_login{width:100%; background:#464646; height:45px; float:left; }
#bottoms_logout ul{width:235px; margin:auto; padding-top:14px; padding-left:10px; }
#bottom_login ul{width:295px; margin:auto; padding-top:14px; padding-left:10px; }
#bottoms_logout li, #bottom_login li{float:left; margin-right:5px;}

.hero_command img:not(.editor_icon) {  width: 100%;max-width:675px;}
.owl-carousel .owl-item div	{font-size:14px;line-height:25px;text-align:center;}
.owl-carousel .owl-item .slideDate	{font-weight: 800;padding: 10px 0 15px 0;line-height: 20px;}
.owl-carousel .owl-item .slideDate img	{width:53px;}
.owl-carousel .owl-item .slideTitle	{font-size:22px;font-weight:800;padding-bottom: 18px;}
.owl-carousel .item img	{display:initial !important;}

.mWriteImage img {margin-bottom:5px;width:251px;}


/* 160805 메인 개편*/
#contentLayer{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4); z-index:100;}
/*#line{border-top:1px solid #f78429;}*/
#title{background:none !important; background-color:#eeeeee !important;}
#m_header{background-color:#fff; position:relative; padding:15px 0 15px 0;}
#m_header .m_menu{ position:absolute; top:35%; left:15px;}
#m_header .m_logo{ width:35%; margin:0 auto;}

#m_sideMenu{position:absolute;left:-100%; width:100%; height:auto; background:#f78c35; z-index:10000;}
#m_sideMenu .left_facebook{line-height:10px;}
#m_sideMenu div.m_sideMenu_close{height:60px; /*border-bottom:2px solid #ee7919;*/}
#m_sideMenu div.m_sideMenu_close a img.home_logo{margin:0 1% 3px 3%;}
#m_sideMenu div.m_sideMenu_close a img.facebook_logo{margin:0 1% 2px 3%;}
#m_sideMenu div.m_sideMenu_close a span{color:#fff; font-size:13px;line-height:60px;}
#m_sideMenu div.m_sideMenu_close a.sideMenu_close{ position:absolute; top:18px; right:2%; color:#fff;}

#m_sideMenu .m_sideMenu_8menu{height:auto; /*border-bottom:2px solid #ee7919;*/}
#m_sideMenu .m_sideMenu_8menu ul{zoom:1; background:#fff;}
#m_sideMenu .m_sideMenu_8menu ul:after{content:''; display:block; clear:both;}
#m_sideMenu .m_sideMenu_8menu ul li{float:left;width:25%; height:75px; border-right:1px solid #eee;border-bottom:1px solid #eee;text-align:center;color:#000;font-size:11px;padding:3% 0;}
#m_sideMenu .m_sideMenu_8menu ul li.nonBottom{border-bottom:none;}
#m_sideMenu .m_sideMenu_8menu ul li img{margin-bottom:5px;}

#m_sideMenu .searchArea{ position:relative; background:#ffe0b2;}
#m_sideMenu .searchArea a.btn_search{ width:24px; height:24px; display:block; position:absolute; top:8px; right:10px; z-index:10;}
#m_sideMenu .searchArea input{ width:100%; height:40px; background:#ffe0b2; border:none; padding-left:10px; font-size:14px; font-weight:600; color:#666666;}

#m_sideMenu ul.topTitle{width:100%;min-height:500px; position:relative;}
#m_sideMenu ul.topTitle li.home{padding:10px 0 8px 0; /*border-bottom:2px solid #ee7919;*/ color:#fff; font-size:16px; cursor:pointer;}
#m_sideMenu ul.topTitle li.home span{padding-left:5%;}

#m_sideMenu ul.topTitle>li{padding:10px 0 0 0; border-right:1px solid #eee;/*border-bottom:2px solid #ee7919;*/ color:#fff; font-size:13px; cursor:pointer; float:left; width:50%;}
#m_sideMenu ul.topTitle>li img{width:20px; height:15px;}
#m_sideMenu ul.topTitle>li p.blank{margin-top:1px;}
#m_sideMenu ul.topTitle>li>ul{display:block;zoom:1;width:100%; background-color:#fff; clear:both;}
#m_sideMenu ul.v1{height:300px;}
#m_sideMenu ul.v2{height:230px;}


#m_sideMenu ul.topTitle>li>ul>a{text-decoration:none;}
#m_sideMenu ul.topTitle>li>ul>a>li{color:#666; padding:18px 0 7px 15%; font-size:13px; }

#m_sideMenu ul.topTitle>li:first-child{margin-top:0;}
#m_sideMenu ul.topTitle>li>span{padding-left:6%;}
#m_sideMenu ul.topTitle>li>img{/*position:absolute; left:90%; padding-top:8px;*/ float:right; padding-top:3px; margin-right:1%;}

#m_sideMenu ul.topTitle>ul{/*display:none;*/ zoom:1;width:50%; height:auto; background-color:#fff; font-size:14px; clear:both; float:left;}
#m_sideMenu ul.topTitle>ul>li>a{color:#666 !important;}
#m_sideMenu ul.topTitle>ul:after{content:''; display:block; clear:both;}
#m_sideMenu ul.topTitle>ul>li{padding:13px 0 0 7%; width:45%;float:left;}
#m_sideMenu ul.topTitle>ul>li:last-child{padding:13px 0 20px 7%;}

/*#m_sideMenu ul li a{color:#fff; }*/
#m_sideMenu ul li.l1{width:100%; height:60px; background:#ffe0b2;}
#m_sideMenu ul li.l1 div{width:100%; position:relative;}
#m_sideMenu ul li.l1 div input{width:80%; margin:0 15% 0 3%; border:none; height:60px; background:#ffe0b2; font-size:18px; padding-left:2%;}
#m_sideMenu ul li.l1 div span{float:right;}

.topMenu{width:100%; background-color:#f78c35; padding:10px 0 8px 0;}
.topMenu ul{zoom:1;}
.topMenu ul:after{content:''; display:block; clear:both;}
.topMenu li{float:left; font-size:15px; text-align:center; font-size:12px; font-weight:bold;}
.topMenu li.s1{width:26%;}
.topMenu li.s2{width:17%;}
.topMenu li.s3{width:15%;}
.topMenu li.s4{width:22%;}
.topMenu li.s5{width:20%;}
.topMenu ul li a{color:#fff;}
.topMenu ul li a.on{color:#FF0;}

.mainContent{width:100%; height:auto; }
.mainContent .missionList{width:100%; }
.mainContent .missionList .missionImg{width:40%; height:235px; float:left; border-bottom:2px solid #cccccc; border-right:2px solid #f1f1f1;}
.mainContent .missionList .missionContent{width:60%;height:235px; float:left; border-bottom:2px solid #cccccc;}
.mainContent .missionList .missionContent li{margin-left:20px;}
.mainContent .missionList .missionContent li.l1{border:2px solid #ff6600; padding:10px 11px 7px 8px; margin-top:20px; width:96px; color:#ff6600; font-weight:bold; font-size:15px;}
.mainContent .missionList .missionContent li.l2{margin-top:15px; color:#000; font-size:18px; font-weight:bold;}
.mainContent .missionList .missionContent li.l3{margin-top:5px; color:#666666; font-size:17px;}
.mainContent .missionList .missionContent li.l4{margin-top:56px; color:#666666; font-size:17px;}

.mainContent .mainList li{ border-bottom:1px solid #eee;}
.mainContent .mainList li:first-child{ border-top:1px solid #eee;}
.mainContent .mainList li a { display:block;}
.mainContent .mainList li a dl { margin:0;}
.mainContent .mainList li a dl:after{content:''; display:block; clear:both;}
.mainContent .mainList li a dl dt{width:32%; float:left; box-sizing:border-box; border-right:2px solid #f1f1f1; color:#000;}
.mainContent .mainList li a dl dt img{ width:100%;}
.mainContent .mainList li a dl dd{width:56%; float:left; color:#000; padding-left:2%}
.mainContent .mainList li a dl dd p{ margin:0; padding:0;}
.mainContent .mainList li a dl dd p.icon{ font-size:11px; color:#ff6600; border:2px solid #ff6600; display:inline-block; margin-top:10px; padding:4px; font-weight:600;}
.mainContent .mainList li a dl dd p.title{ margin-top:10px; font-size:14px; color:#333333; font-weight:600;}
.mainContent .mainList li a dl dd p.subTitle{ margin-top:4px; font-size:12px; color:#666666; font-weight:600;}
.mainContent .mainList li a dl dd p.date{ margin-top:10px; font-size:12px; color:#666666; font-weight:600;}

/* 170112 모바일 검색 추가 */
#searchBox{width:100%; margin:0 auto; background:#F7F7F7; margin-bottom:15px; padding:10px 5% 10px 1%; text-align:center;}
#searchBox .kewyword{height:26px;width:40%;}
#searchBox select{width:20%;}
#searchBox a{background:#f78c35; padding:5px 2%; color:#fff;}

/* 170119 모바일 배너 추가 */
.swiper-container { width: 100%; position:relative;}
.swiper-slide { text-align: center;font-size: 18px; background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.bannerBackImg img{width:100%;}
.bannerBackImg .bg{width: 100%; background: url(/m/img/textbg.png); position: absolute; bottom: 0; left: 0;}
.bannerBackImg .bg .head{color: #fff;font-size: 18px; padding: 5px;}
.bannerBackImg .bg .subhead{color: #fff;font-size: 14px;padding: 0 10px 20px 10px;line-height: 18px;}

.btnScrollTop{position:fixed; left: 86%; bottom: 50px; display:none;}
.btnListPage{position:relative;}
.btnListPage .mission{padding:16px 4% 18px 4%; font-size:13px; background:#999; color:#fff !important; font-weight:700; position:absolute; top:-62px; left:75%;}
.btnListPage .box_mission{padding:16px 4% 18px 4%; font-size:13px; background:#999; color:#fff !important; font-weight:700; position:absolute; top:-53px; left:72%;}

/* 170126 게시판 상단 정보 */
.board_guide{height:42px;color:#868686;font-weight:bold;letter-spacing:-1px;margin-bottom: 15px;background:#eeeeee; text-align:left;padding:12px 0 0 0; float:left;}
#board_guide_top{ width:30%; padding-left:4%;}
#board_guide_sub{ width:70%; padding-right:0%;}
.board_guide span.guide_bigTitle{font-size:13px; margin-right:1%;}
.board_guide span.guide_bigTitle span{margin-right:3px;}
.board_guide span.guide_smallTitle{font-size:11px; color:#999; line-height:17px;}